@import '../../scss/variables.scss';

.cardList {
  display: flex;
  gap: 1rem;

  &__create_btn {
    padding: 1rem;
    border-radius: 1rem;
    width: 272px;
    cursor: pointer;

    background-color: rgba(32, 35, 41, 0.7);
    &:hover {
      background: $cardBlock;
    }
    height: fit-content;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
