@import '../../scss/variables.scss';

.header {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  background-attachment: scroll;
  background-color: $header;

  width: auto;

  color: white;
  gap: 1rem;
  align-items: center;

  &__img {
    width: 2rem;
    height: 2rem;
  }
}
